.intercative {
  cursor: pointer;
}
.center-txt {
  text-align: center;
}
.top-bottom-margin {
  margin: 2em auto;
}
.sm-top-bottom-margin {
  margin: 0.5em auto;
}
.right-margin {
  margin-right: 1em;
}
.block {
  display: block;
}
.none {
  display: none;
}
.grid {
  display: grid;
}
